@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import '~jsoneditor/dist/jsoneditor.min.css';

.button-header {
  width: 100%;
}

.button-checkbox {
  float: right;
  margin-bottom: 5px;
}

.button-green {
  background-color: #a5bb6b !important;
  border-color: #a5bb6b !important;
  color: white !important;
}

.button-blue {
  background-color: #5f8ecf !important;
  border-color: #5f8ecf !important;
  color: white !important;
}

.button-red {
  background-color: #e14a25 !important;
  border-color: #e14a25 !important;
  color: white !important;
}

.button-grey {
  background-color: #d3d4de !important;
  border-color: #d3d4de !important;
  color: white !important;
}

.table-header {
  background-color: #d3d4de !important;
  text-align: center !important;
  color: black !important;
}

.card-header {
  background-color: #1d375b !important;
  color: white !important;
}

.form-key {
  text-align: right;
  padding: 0;
  font-weight: bold;
}

.form-row {
  margin-bottom: 15px;
}

.button-left {
  margin-right: 10px;
  margin-bottom: 10px;
}

.button-right {
  float: right;
  margin-left: 10px;
}

// NGX-ADMIN Style Patch
// Background
.nb-theme-default nb-layout .layout {
  background-color: #f2f2f2;
}

// Header
.header-logo {
  font-family: 'Montserrat'!important;
  font-weight: 700 !important;
  color: white !important;
}
.header-version {
  font-family: 'Montserrat' !important;
  font-weight: 10 !important;
  color: white !important;
}

.nb-theme-default nb-layout.window-mode .layout nb-layout-header {
  background-color: #141526 !important;
}
.nb-theme-default nb-user .user-name {
  color: white;
}

// Menu
nb-sidebar {
  background-color: #272739 !important;
}
.nb-theme-default nb-menu .menu-item {
  border-bottom: 1px solid #151a30;
  background-color: #272739 !important;
}

// Menu items
.nb-theme-default nb-menu .menu-item a,
.nb-theme-default nb-menu .menu-item a .menu-icon {
  color: #7677a6;
}
.nb-theme-default nb-menu .menu-item a:hover {
  background-color: #414259 !important;
}
.nb-theme-default nb-menu .menu-item a.active {
  color: white !important;
  background-color: #414259 !important;
}
.nb-theme-default nb-menu .menu-item a.active .menu-icon {
  color: white !important;
}

// First sub menu child
.nb-theme-default nb-menu .menu-item {
  border: 0 !important;
}
.nb-theme-default nb-menu .menu-item:first-child a.active {
  color: white !important;
  border-top: 0 !important;
}

// Pages padding
.nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column {
  padding: 1.25rem 2.25rem 0.75rem;
}
