.button-green {
  background-color: #a5bb6b !important;
  border-color: #a5bb6b !important;
  color: white !important;
}

.button-blue {
  background-color: #5f8ecf !important;
  border-color: #5f8ecf !important;
  color: white !important;
}

.button-red {
  background-color: #e14a25 !important;
  border-color: #e14a25 !important;
  color: white !important;
}

.header-tabs {
  background-color: #d3d4de !important;
  text-align: center !important;
  color: black !important;
}

.header-details {
  background-color: #1d375b !important;
  color: white !important;
}

.info-details {
  text-align: right;
  padding: 0;
  font-weight: bold;
}

.form-row {
  margin-bottom: 15px;
}
