.button-green {
  background-color: #A5BB6B !important;
  border-color: #A5BB6B !important;
}

.button-blue {
  background-color: #5F8ECF !important;
  border-color: #5F8ECF !important;
}

.header-tabs {
  background-color: #D3D4DE !important;
  text-align: center !important;
}

.header-details {
  background-color: #1D375B !important;
  color: white !important;
}

.info-details {
  text-align: right;
  padding: 0;
  font-weight: bold;
}
