nb-icon {
  vertical-align: middle;
}

.col-2 {
  text-align: right;
  padding: 0;
  font-weight: bold;
}

nb-select {
  min-width: 300px;
}

button {
  float: right;
  margin-left: 10px;
}

json-editor {
   padding: 0;
}
