<div class="row">
  <div class="col-md-6">
    <nb-card size="tiny" status="info">
      <nb-card-header>
        Channel Info
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-2"> Name: </div><div class="col-10"> {{ channel.name }} </div>
          <div class="col-2"> ID: </div><div class="col-10"> {{ channel.id }} </div>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card status="primary" size="small">
      <nb-card-header>
        Metadata
        <button (click)="onEdit()" nbButton status="success" size="tiny">
          Edit
        </button>
      </nb-card-header>
      <nb-card-body style="padding: 0px;">
        <textarea class="form-control"
                  [ngModel]="channel.metadata | json"
                  (ngModelChange)="editorMetadata=$event">
        </textarea>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card size="small" status="info">
      <nb-card-header>
        Connections
        <nb-select multiple placeholder="Select Things" [(selected)]="selectedThings" size="tiny">
          <nb-option *ngFor="let thing of this.things" [value]="thing.id">
            {{thing.name}}
          </nb-option>
        </nb-select>
        <button (click)="onConnect()" nbButton status="success" size="tiny">
          Connect
        </button>
      </nb-card-header>
      <nb-card-body>
        <div *ngIf="connections.length === 0">
          <div style="text-align: center">
            No connections
          </div>
        </div>
        <div *ngIf="connections.length !== 0">
          <div *ngFor="let con of connections;" class="row" style="padding: 2.6px;">
            <div class="col-9">
              <nb-icon status="info" icon="arrow-right-outline"></nb-icon>
              {{con.name}}
            </div>
            <div class="col-3">
              <button (click)="onDisconnect(con.id)" nbButton status="danger" size="tiny">
                x
              </button>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
