<div class="row">
  <div class="col-xxl-12">
    <nb-card status="success">
      <nb-card-header>
        {{ opcuaNodes.length }} &nbsp; OPC-UA Server Nodes
      </nb-card-header>
    </nb-card>
  </div>
</div>

<nb-card>
  <nb-card-body>
    <ng2-smart-table [settings]="settings"
                     [source]="source"
                     (createConfirm)="onCreateConfirm($event)"
                     (editConfirm)="onEditConfirm($event)"
                     (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
