<nb-card status="info" size="tiny">
  <nb-card-header>
    <div class="row">
      <div class="col-1">
        ServerURI
      </div>
      <div class="col-3">
        <input nbInput fullWidth [(ngModel)]="browseServerURI" fieldSize="tiny">
      </div>
      <div class="col-1">
        Namespace
      </div>
      <div class="col-1">
        <input nbInput fullWidth [(ngModel)]="browseNamespace" fieldSize="tiny">
      </div>
      <div class="col-1">
        Identifier
      </div>
      <div class="col-3">
        <input nbInput fullWidth [(ngModel)]="browseIdentifier" fieldSize="tiny">
      </div>
      <div class="col-1">
        <button nbButton status="success" (click)="browseOpcuaNodes()" size="tiny">
          Browse
        </button>
      </div>
      <div class="col-1">
        <button nbButton status="warning" (click)="subscribeOpcuaNodes()" size="tiny">
          Subscribe
        </button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <nb-list>
      <nb-list-item>
        <div class="col-6">
          Server URI
        </div>
        <div class="col-3">
          Node ID
        </div>
        <div class="col-1">
          Type
        </div>
        <div class="col-1">
          Description
        </div>
      </nb-list-item>
       <nb-list-item *ngFor="let node of browsedNodes" style="height: 20px;">
         <div class="col-6">
           {{ browseServerURI }}
         </div>
         <div class="col-3">
           {{ node.NodeID }}
         </div>
         <div class="col-1">
           {{ node.Type }}
         </div>
         <div class="col-1">
           {{ node.Description }}
         </div>
         <div class="col-1">
           <nb-checkbox (checkedChange)="onCheckboxChanged($event, node)"></nb-checkbox>
         </div>
       </nb-list-item>
     </nb-list>
  </nb-card-body>
</nb-card>

<nb-card status="success">
  <nb-card-header>
    {{ opcuaNodes.length }} &nbsp; OPC-UA Server Subscription
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings"
                     [source]="source"
                     (createConfirm)="onCreateConfirm($event)"
                     (editConfirm)="onEditConfirm($event)"
                     (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
