<nb-card size="small">
  <nb-card-header class="header-details">
    Messages
    <nb-select class="right" [(selected)]="mode" size="tiny">
      <nb-option *ngFor="let mode of this.modes" [value]="mode">{{mode}}</nb-option>
    </nb-select>
    <div class="right">
      <input nbInput placeholder="Filter by date" [nbDatepicker]="rangepicker" fullWidth fieldSize="tiny">
      <nb-rangepicker #rangepicker (rangeChange)="getRangeDate($event)"></nb-rangepicker>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div [ngSwitch]="mode">
      <div *ngSwitchCase="'table'">
        <table>
          <tr>
            <th>name</th>
            <th>value</th>
            <th>time</th>
            <th>subtopic</th>
            <th>channel</th>
            <th>publisher</th>
            <th>protocol</th>
          </tr>
          <tr *ngFor="let message of messages">
            <td>{{message.name}}</td>
            <td>{{message | messageValue}}</td>
            <td>{{message.time*1000 | date:'medium'}}</td>
            <td>{{message.subtopic}}</td>
            <td>{{message.channel}}</td>
            <td>{{message.publisher}}</td>
            <td>{{message.protocol}}</td>
          </tr>
        </table>
      </div>
      <div *ngSwitchCase="'json'">
        <pre  *ngFor="let message of messages">{{ message | json }}</pre>
      </div>
    </div>
    <div *ngIf="messages.length == 0" class="no-msg">
      No messages to display
    </div>
  </nb-card-body>
</nb-card>
