<nb-card size="small" status="info">
  <nb-card-header>
    Gateway properties
    <button class="float-right" nbButton shape="semi-round" size="tiny"
            [routerLink]="['/pages/gateways']">
      <nb-icon icon="undo-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-3"> Name: </div><div class="col-md-9"> {{ gateway.name }} </div>
      <div class="col-md-3"> ID: </div><div class="col-md-9"> {{ gateway.id }} </div>
      <div class="col-md-3"> Key: </div><div class="col-md-9"> {{ gateway.key }} </div>
      <div class="col-md-3"> MAC: </div><div class="col-md-9"> {{ gateway.metadata.mac }} </div>
      <div class="col-md-3"> Password: </div><div class="col-md-9"> {{ gateway.metadata.gwPassword }} </div>
      <div class="col-md-3"> Ctrl Chan ID: </div><div class="col-md-9"> {{ gateway.metadata.ctrlChannelID }} </div>
      <div class="col-md-3"> Data Chan ID: </div><div class="col-md-9"> {{ gateway.metadata.dataChannelID }} </div>
      <div class="col-md-3"> BS Config ID: </div><div class="col-md-9"> {{ gateway.metadata.cfgID }} </div>
    </div>
  </nb-card-body>
</nb-card>
