<nb-card status="info">
  <nb-card-header>
    <div class="row">
      <div class="col-4">
        {{ dbReaderNodes.length }} &nbsp; DB Reader/s
      </div>
      <div class="col-4">
        <input nbInput fullWidth placeholder="Search..." fieldSize="small"
               (input)="searchReader($event.target.value)">
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings"
                     [source]="source"
                     (createConfirm)="onCreateConfirm($event)"
                     (editConfirm)="onEditConfirm($event)"
                     (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
