<div class="row">
  <div class="col-md-4">
    <nb-card status="info">
      <nb-card-header>
        {{ total }} &nbsp; Gateways
      </nb-card-header>
    </nb-card>
  </div>

  <div class="col-md-4">
    <nb-card status="success">
      <nb-card-header>
        {{ gwCtrlChanNumber }} &nbsp; Control Channels
      </nb-card-header>
    </nb-card>
  </div>

  <div class="col-md-4">
    <nb-card status="success">
      <nb-card-header>
        {{ gwDataChanNumber }} &nbsp; Data Channels
      </nb-card-header>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <ng2-smart-table [settings]="settings"
                         [source]="source"
                         (createConfirm)="onCreateConfirm($event)"
                         (editConfirm)="onEditConfirm($event)"
                         (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
