nb-icon {
  vertical-align: middle;
}

.select-http-adapter {
  width: 100%;
}

.button-right {
  float: right;
}

nb-tabset {
  padding: 0;
  margin: 0;
}

.editor-body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

:host ::ng-deep json-editor,
:host ::ng-deep json-editor .jsoneditor,
:host ::ng-deep json-editor > div,
:host ::ng-deep json-editor jsoneditor-outer {
  height: 100%;
  border: 0;
}
