<div class="row">
  <div class="col-md-6">
    <nb-card size="tiny">
      <nb-card-header class="header-details">
        Thing Info
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-2 info-details"> Name: </div><div class="col-md-10"> {{ thing.name }} </div>
          <div class="col-md-2 info-details"> ID: </div><div class="col-md-10"> {{ thing.id }} </div>
          <div class="col-md-2 info-details"> Key: </div><div class="col-md-10"> {{ thing.key }} </div>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card size="small">
      <nb-card-header class="header-details">
        Metadata
        <button nbButton size="tiny" class="button-green"
                (click)="onEdit()">
          Edit
        </button>
      </nb-card-header>
      <nb-card-body style="padding: 0px;">
        <textarea class="form-control"
                  [ngModel]="thing.metadata | json"
                  (ngModelChange)="editorMetadata=$event">
        </textarea>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card size="small">
      <nb-card-header class="header-details">
        <div class="row">
          <div class="col-md-3">
            Connections
          </div>
          <div class="col-md-7">
            <nb-select multiple placeholder="Select Channel(s)" [(selected)]="selectedChannels" size="tiny">
              <nb-option *ngFor="let channel of disconnectedChans" [value]="channel.id">
                {{channel.name}}
              </nb-option>
            </nb-select>
          </div>
          <div class="col-md-2">
            <button nbButton size="tiny" class="button-green"
                    (click)="onConnect()">
              Connect
            </button>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div *ngIf="connectedChans.length === 0">
          <div style="text-align: center">
            No connections
          </div>
        </div>
        <div *ngIf="connectedChans.length !== 0">
          <table>
            <tr>
              <th>Name</th>
              <th>Channel ID</th>
            </tr>
            <tr *ngFor="let conn of connectedChans">
              <td>{{conn.name}}</td>
              <td>{{conn.id}}</td>
              <td>
                <button (click)="onDisconnect(conn.id)" nbButton size="tiny" class="button-red">
                  x
                </button>
              </td>
            </tr>
          </table>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card size="tiny">
      <nb-card-header class="header-details">
        HTTP Adapter
        <button (click)="onSendMessage()" nbButton size="tiny" class="button-green">
          Send Message
        </button>
      </nb-card-header>
      <nb-card-body>
        <div class="row form-row">
          <div class="col-md-2 info-details"> Channel: </div>
          <div class="col-md-10">
            <nb-select [(selected)]="httpMsg.chanID" size="tiny">
              <nb-option *ngFor="let ch of this.connectedChans" [value]="ch.id">{{ch.name}}</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2 info-details"> Subtopic: </div>
          <div class="col-md-3">
            <input nbInput fullWidth fieldSize="tiny"
                   [(ngModel)]='httpMsg.subtopic'>
          </div>
          <div class="col-md-2 info-details"> Time: </div>
          <div class="col-md-3">
            <input nbInput  fullWidth fieldSize="tiny"
                   [(ngModel)]='httpMsg.time'>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2 info-details"> Name: </div>
          <div class="col-md-3">
            <input nbInput fullWidth fieldSize="tiny"
                   [(ngModel)]='httpMsg.name'>
          </div>
          <div class="col-md-2 info-details"> Value: </div>
          <div class="col-md-3">
            <input nbInput fullWidth fieldSize="tiny"
                   [(ngModel)]='httpMsg.value'>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<!-- Message Reader Monitor -->
<ngx-message-monitor [channels]="connectedChans"
                     [thingKey]="thing.key">
</ngx-message-monitor>
