<nb-card size="small">
  <nb-card-header class="card-header">
    <div class="row">
      <div class="col-9">
        {{config.title}}
      </div>
      <div class="col-3" style="text-align: right;">
        <button nbButton size="tiny" class="button-blue"
                (click)="openConfigModal()" title="Card config">
          <nb-icon icon="settings-2-outline"></nb-icon>
        </button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div [ngSwitch]="config.mode">
      <div *ngSwitchCase="'table'">
        <ngx-table-component [config]="tableConfig"
                             [page]="messagesPage">
        </ngx-table-component>
      </div>
      <div *ngSwitchCase="'json'">
        <pre>{{ messagesPage.rows | json }}</pre>
      </div>
      <div *ngSwitchCase="'chart'" style="height:100%">
        <div *ngIf="messagesPage.total != 0">
          <ngx-chart [msgDatasets]="msgDatasets"></ngx-chart>
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="header-row">
      <ngx-pagination-component [page]="messagesPage"
                                (changeLimitEvent)=onChangeLimit($event)
                                (changePageEvent)=onChangePage($event)>
      </ngx-pagination-component>
    </div>
  </nb-card-footer>
</nb-card>
