<div class="row">
  <div class="col-md-12">
    <nb-card size="small" status="info">
      <nb-card-header>
        Info
        <button (click)="updateInfo()" nbButton status="success" size="tiny">
          Update twin
        </button>
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-2"> Name: </div><div class="col-5">{{twin.name}}</div>
          <div class="col-5"><input type="text" nbInput [(ngModel)]="twinName" fieldSize="small"></div>
          
          <div class="col-2"> Owner: </div><div class="col-10"> {{ twin.owner }} </div>
          
          <div class="col-2"> ID: </div><div class="col-10"> {{ twin.id }} </div>

          <div class="col-2"> Thing ID: </div><div class="col-5">{{twin.thing_id}}</div>
          <div class="col-5">
            <nb-select placeholder="Select thing" [(selected)]="selectedThing" size="tiny">
              <nb-option *ngFor="let thing of this.things" [value]="thing">{{thing.name}}</nb-option>
            </nb-select>
          </div>
          
          <div class="col-2"> Created: </div><div class="col-10"> {{ twin.created }} </div>
          
          <div class="col-2"> Revision: </div><div class="col-10"> {{ twin.revision }} </div>
        </div>
      </nb-card-body>

      <nb-card-footer>
        <button (click)="showStates()" nbButton status="success" size="tiny">
          Show states
        </button>
      </nb-card-footer>
          
    </nb-card>
  </div>
</div>

<div class="row">  
  <div class="col-md-12">
    <nb-card size="tiny" status="primary">
      <nb-card-header>State</nb-card-header>
      <nb-card-body *ngIf="state">
        <em>{{ stateTime | date: 'long' }}</em>
        <div class="row" *ngFor="let attr of state | keyvalue">
          <div class="col-2" ><b>{{attr.key}}</b>:</div>
          <div class="col-10">{{attr.value | json}}</div>          
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">  
  <div class="col-md-12">
    <nb-card size="tiny" status="primary">
      <nb-card-header>Current definition</nb-card-header>
      <nb-card-body>
        <div class="row" *ngFor="let attr of defAttrs | keyvalue">
          <div class="col-2" ><b>{{attr.key}}</b>:</div>
          <div class="col-10">{{attr.value | json}}</div>          
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">  
  <div class="col-md-12">
    <nb-card size="small" status="primary">
      <nb-card-header>Definition history</nb-card-header>
      <nb-card-body>
        <div class="row" *ngFor="let def of twin.definitions">
          <div class="col-2"><b>{{ def.id }}</b>:</div>
          <div class="col-10">{{ def | json }}</div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">  
  <div class="col-md-12">
    <nb-card size="medium" status="primary">
      <nb-card-header>
        Add definition
        <button (click)="updateDefinition()" nbButton status="success" size="tiny">
          Update definition
        </button>
      </nb-card-header>
      
      <nb-card-body>
        <div class="row" *ngFor="let attr of attrs | keyvalue">
          <div class="col-10" id="selectable" (click)="selectAttribute(attr)">
            <b>{{attr.key}}</b>: {{attr.value | json}}
          </div>
          <div class="col-2">
            <button (click)="removeAttribute(attr.key)" nbButton status="danger" size="tiny">-</button>
          </div>
        </div>
      </nb-card-body>

      <nb-card-footer>
        <div class="row">
          <div class="col-2"> Name: </div><div class="col-10">
            <input type="text" nbInput [(ngModel)]="attrName" fieldSize="small">
          </div>
          
          <div class="col-2"> Channel: </div><div class="col-10">
            <nb-select placeholder="Select channel" [(selected)]="attrChannel" size="tiny">
              <nb-option *ngFor="let channel of this.channels" [value]="channel.id">
                {{channel.name}}
              </nb-option>
            </nb-select>            
          </div>
          
          <div class="col-2"> Subtopic: </div><div class="col-10">
            <input type="text" nbInput [(ngModel)]="attrSubtopic" fieldSize="small">
          </div>
          
          <div class="col-2"> Persist state: </div><div class="col-5">
            <nb-checkbox (checkedChange)="togglePersist($event)" [checked]="attrPersist"></nb-checkbox>
          </div>
        </div>
        
        <button (click)="updateAttribute()" nbButton status="success" size="tiny">
          Update attribute
        </button>
      </nb-card-footer>
      
    </nb-card>
  </div>
</div>
