nb-icon {
  vertical-align: middle;
}

.col-2 {
  font-weight: bold;
}

#selectable:hover {
  background-color: gold;
}

nb-select {
  min-width: 300px;
}

button {
  float: right;
  margin-left: 10px;
}

textarea {
  width: 100%;
  height: 100%;
}
