nb-icon {
  vertical-align: middle;
}

.row {
  margin-bottom: 10px;
}

.pickable:hover {
  background-color: #F8F8FF;
}

nb-select {
  min-width: 400px;
}

button {
  float: right;
  margin-left: 10px;
}

nb-list-item {
  word-wrap: break-word;
}
