<div class="row">
  <div class="col-xxl-6">
    <nb-card status="success">
      <nb-card-header>
        {{ loraDevsNumber }} &nbsp; LoRa Devices
      </nb-card-header>
    </nb-card>
  </div>

  <div class="col-xxl-6">
    <nb-card status="info">
      <nb-card-header>
        {{ loraAppsNumber }} &nbsp; LoRa Applications
      </nb-card-header>
    </nb-card>
  </div>
</div>

<nb-card>
  <nb-card-body>
    <ng2-smart-table [settings]="settings"
                     [source]="source"
                     (createConfirm)="onCreateConfirm($event)"
                     (editConfirm)="onEditConfirm($event)"
                     (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
