<div>
  <em>{{value.created | date: 'long'}}</em>
  <div *ngFor="let attr of value.attributes">
    <b>{{attr.name}}</b>
    <ul>
      <li class="row"><b class="col-md-2">Channel</b>
        <span class="col-md-5">{{ attr.channel }}</span></li>
      <li class="row"><b class="col-md-2">Subtopic</b>
        <span class="col-md-5">{{ attr.subtopic }}</span></li>
      <li class="row"><b class="col-md-2">Persisted</b>
        <span class="col-md-5">{{ attr.persist_state }}</span></li>
    </ul>
  </div>
</div>
