<nb-card>
  <nb-card-header class="table-header">
    {{this.action}} Channel
  </nb-card-header>

  <nb-card-body>
    <div class="row form-row">
      <div class="col-3 form-key">
        Name:
      </div>
      <div class="col-9">
        <input nbInput fullWidth fieldSize="tiny"
              [(ngModel)]='formData.name'>
      </div>
    </div>
    <div class="row form-row">
      <div class="col-3 form-key">
        Type:
      </div>
      <div class="col-9">
        <input nbInput fullWidth fieldSize="tiny"
              [(ngModel)]='formData.type'>
      </div>
    </div>
    <div class="row form-row">
      <div class="col-3 form-key">
        Metadata:
      </div>
      <div class="col-9">
        <json-editor [options]="editorOptions"
                     [data]="formData.metadata"></json-editor>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <button nbButton status="success" (click)="submit()">{{this.action}}</button>
    <button nbButton status="danger" (click)="cancel()">Cancel</button>
  </nb-card-footer>
</nb-card>
