<div class="row">
  <div class="col-md-6">
    <nb-card size="tiny" status="info">
      <nb-card-header>
        DB Reeader Info
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-3">
             <b>Name:</b>
          </div><div class="col-9">
            {{ thing.name }}
          </div>
          <div class="col-3">
            ID:
          </div>
          <div class="col-9">
            {{ thing.id }}
          </div>
          <div class="col-3">
            Key:
          </div>
          <div class="col-9">
            {{ thing.key }}
          </div>
          <div class="col-3">
            DB Type:
          </div>
          <div class="col-9">
            {{ selectedDbType }}
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card size="large" status="primary">
      <nb-card-header>
        <div class="row">
          <div class="col-3">
            DB Type
          </div>
          <div class="col-7">
            <nb-select placeholder="Select DB type" id="dbtype" [(ngModel)]="selectedDbType" (selectedChange)="onDbTypeSelect($event)" size="tiny">
              <nb-option *ngFor="let type of dbTypes" [value]="type.value">
                {{ type.name }}
              </nb-option>
            </nb-select>
          </div>
          <div class="col-2">
            <button [disabled]="selectedDbType == null" (click)="onEdit()" nbButton status="success" size="tiny">
              Edit
            </button>
          </div>
        </div>
      </nb-card-header>

      <nb-card-body>
        <div *ngIf="selectedDbType">
          <div [ngSwitch]="selectedDbType">
            <ngx-mssql *ngSwitchCase="'mssql'" [thing]="thing" [events]="eventsSubject.asObservable()"></ngx-mssql>
            <ngx-csv *ngSwitchCase="'csv'" [thing]="thing" [events]="eventsSubject.asObservable()"></ngx-csv>
            <div *ngSwitchDefault class="col-8">DB type is not selected.</div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
