<div class="row">
  <div class="col-md-6">
    <nb-card size="tiny" status="info">
      <nb-card-header>
        Device Info
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-2"> Name: </div><div class="col-10"> {{ thing.name }} </div>
          <div class="col-2"> ID: </div><div class="col-10"> {{ thing.id }} </div>
          <div class="col-2"> Key: </div><div class="col-10"> {{ thing.key }} </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card size="tiny" status="info">
      <nb-card-header>
        Connected
      </nb-card-header>
      <nb-card-body>
        <div *ngIf="connections.length === 0">
          <div style="text-align: center">
            No connections
          </div>
        </div>
        <div *ngIf="connections.length !== 0">
          <div *ngFor="let con of connections;" class="row" style="padding: 2.6px;">
            <div class="col-9">
              <nb-icon status="info" icon="arrow-right-outline"></nb-icon>
              {{con.name}}
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card size="medium" status="primary">
      <nb-card-header>
        Metadata
        <button [disabled]="selectedDbType == null" (click)="onEdit()" nbButton status="success" size="tiny">
          Edit
        </button>
      </nb-card-header>

      <nb-card-body>
        <div class="col-md-12">
          <div class="row">
            <div class="col-12">
              <div class="col-md-12 decorate">
                <label for="dbtype">DB type:</label> &nbsp;
                <nb-select placeholder="Select DB type" id="dbtype" [(ngModel)]="selectedDbType" (selectedChange)="onDbTypeSelect($event)" size="small">
                  <nb-option *ngFor="let type of dbTypes" [value]="type.value">
                    {{ type.name }}
                  </nb-option>
                </nb-select>
              </div>
            </div>

            <div *ngIf="selectedDbType">
              <div [ngSwitch]="selectedDbType">
                <ngx-mssql *ngSwitchCase="'mssql'" [thing]="thing" [events]="eventsSubject.asObservable()"></ngx-mssql>
                <ngx-csv *ngSwitchCase="'csv'" [thing]="thing" [events]="eventsSubject.asObservable()"></ngx-csv>
                <div *ngSwitchDefault class="col-8">DB type is not selected.</div>
              </div>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
