nb-icon {
  vertical-align: middle;
}

.col-2 {
  text-align: right;
  padding: 0;
  font-weight: bold;
}

.decorate {
  text-align: left;
  font-weight: bold;
}

nb-select {
  min-width: 300px;
}

button {
  float: right;
  margin-left: 10px;
}

textarea {
  width: 100%;
  height: 100%;
}

label {
  font-size: small;
}
