<div class="row">
  <div class="col-md-6">
    <nb-card size="tiny">
      <nb-card-header class="header-details">
        Channel Info
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-2 info-details"> Name: </div><div class="col-md-10"> {{ channel.name }} </div>
          <div class="col-md-2 info-details"> ID: </div><div class="col-md-10"> {{ channel.id }} </div>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card size="small">
      <nb-card-header class="header-details">
        Metadata
        <button nbButton size="tiny" class="button-green"
                (click)="onEdit()">
          Edit
        </button>
      </nb-card-header>
      <nb-card-body style="padding: 0px;">
        <textarea class="form-control"
                  [ngModel]="channel.metadata | json"
                  (ngModelChange)="editorMetadata=$event">
        </textarea>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card size="small">
      <nb-card-header class="header-details">
        <div class="row">
          <div class="col-md-3">
            Connections
          </div>
          <div class="col-md-7">
            <nb-select multiple placeholder="Select Thing(s)" [(selected)]="selectedThings" size="tiny">
              <nb-option *ngFor="let thing of disconnectedThings" [value]="thing.id">
                {{thing.name}}
              </nb-option>
            </nb-select>
          </div>
          <div class="col-md-2">
            <button nbButton size="tiny" class="button-green"
                    (click)="onConnect()">
              Connect
            </button>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <ngx-table-component [colNames]="['Name', 'Thing ID']"
                             [keys]="['name', 'id', 'delete']"
                             [page]="tablePage"
                             (delEvent)=onDisconnect($event)
                             (changePageEvent)=onChangePage($event)>
        </ngx-table-component>
      </nb-card-body>
    </nb-card>

    <nb-card size="large" *ngIf="experimental">
      <nb-card-body>
        <div *ngIf="messages.length < 2" style="text-align: center;">
          No charts to display
        </div>
        <div *ngIf="messages.length >= 2" style="height:100%">
          <ngx-chart [messages]="messages"></ngx-chart>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<!-- Message Reader Monitor -->
<ngx-message-monitor [channels]="[channel]"
                     [thingKey]="thingKey">
</ngx-message-monitor>
