<div class="row">
  <div class="col-md-6">
    <nb-card size="tiny">
      <nb-card-header class="card-header">
        User Group Info
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-2 form-key"> Name: </div><div class="col-md-10"> {{ group.name }} </div>
          <div class="col-md-2 form-key"> Description: </div><div class="col-md-10"> {{ group.description }} </div>
          <div class="col-md-2 form-key"> ID: </div><div class="col-md-10"> {{ group.id }} </div>
          <div class="col-md-2 form-key"> Owner ID: </div><div class="col-md-10"> {{ group.owner_id }} </div>
          <div class="col-md-2 form-key"> Created: </div><div class="col-md-10"> {{ group.created_at }} </div>
          <div class="col-md-2 form-key"> Updated: </div><div class="col-md-10"> {{ group.updated_at }} </div>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card size="small">
      <nb-card-header class="card-header">
        Metadata
        <button nbButton size="tiny" class="button-green button-right"
                (click)="onEdit()">
          Save
        </button>
      </nb-card-header>
      <nb-card-body class="editor-body">
        <json-editor [options]="editorOptions"
                     [data]="group.metadata"></json-editor>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card size="large">
      <nb-card-body style="padding:0; margin:0;">
        <nb-tabset>
          <nb-tab tabTitle="Unassigned ({{ unassignedPage.total }})">
            <nb-card size="medium" style="padding:0; margin:0;">
              <nb-card-body>
                <ngx-table-component [config]="tableConfig"
                                     [page]="unassignedPage"
                                     (checkEvent)=onCheckboxUnassigned($event)>
                </ngx-table-component>
              </nb-card-body>
              <nb-card-footer>
                <ngx-pagination-component [page]="unassignedPage"
                                          (changeLimitEvent)=onChangeLimitUnassigned($event)
                                          (changePageEvent)=onChangePageUnassigned($event)>
                </ngx-pagination-component>
                <button nbButton size="tiny" class="button-green button-right"
                        (click)="onAssign()">
                  Assign
                </button>
              </nb-card-footer>
            </nb-card>
          </nb-tab>
          <nb-tab tabTitle="Members ({{ membersPage.total }})">
            <nb-card size="medium"  style="padding:0; margin:0;">
              <nb-card-body>
                <ngx-table-component [config]="tableConfig"
                                     [page]="membersPage"
                                     (checkEvent)=onCheckboxMembers($event)>
                </ngx-table-component>
              </nb-card-body>
              <nb-card-footer>
                <ngx-pagination-component [page]="membersPage"
                                          (changeLimitEvent)=onChangeLimitMembers($event)
                                          (changePageEvent)=onChangePageMembers($event)>
                </ngx-pagination-component>
                <button nbButton size="tiny" class="button-red button-right"
                        (click)="onUnassign()">
                  Unassign
                </button>
              </nb-card-footer>
            </nb-card>
          </nb-tab>
        </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
</div>
