<div class="row">
  <div class="col-md-12">
    <nb-card size="big">
      <nb-card-header class="header-details">
        <div class="row">
          <div class="col-md-2"> {{ total }} states of {{ twin.name }}</div>
          <div class="col-md-10">
            from: <input type="text" nbInput value="{{this.lowerLimit}}" (change)="lower($event)" fieldSize="small">
            to: <input type="text" nbInput value="{{this.upperLimit}}" (change)="upper($event)" fieldSize="small">
          </div>
        </div>
      </nb-card-header>

      <nb-card-body>
        <ng2-smart-table [settings]="settings"
                         [source]="source">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
