<div class="row">
  <div class="col-xxl-4">
    <nb-card status="primary">
      <nb-card-header>
          Mainflux IoT platform &nbsp; {{ version }}
      </nb-card-header>
    </nb-card>
  </div>

  <div class="col-xxl-2">
    <nb-card status="info">
      <nb-card-header>
        {{ thingsNumber }} &nbsp; Things
      </nb-card-header>
    </nb-card>
  </div>

  <div class="col-xxl-2">
    <nb-card status="info">
      <nb-card-header>
        {{ totalChanNumber }} &nbsp; Channels
      </nb-card-header>
    </nb-card>
  </div>

  <div class="col-xxl-2">
    <nb-card status="success">
      <nb-card-header>
        {{ gatewaysNumber }} &nbsp; Gateways
      </nb-card-header>
    </nb-card>
  </div>

  <div class="col-xxl-2">
    <nb-card status="success">
      <nb-card-header>
        {{ loraDevNumber }} &nbsp; LoRa Devices
      </nb-card-header>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-xxl-7">
    <nb-card size="large">
      <nb-card-body>
        <div *ngIf="messages.length > 0" style="height:50%">
          <ngx-chart [messages]="messages">
          </ngx-chart>
        </div>
        <div *ngIf="messages.length > 0" style="height:50%">
          <ngx-chart [messages]="messages2">
          </ngx-chart>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-xxl-5">
    <nb-card size="large">
      <nb-card-body>
        <ngx-map-leaflet [gateways]="gateways">
        </ngx-map-leaflet>
      </nb-card-body>
    </nb-card>
  </div>
</div>
