<nb-card size="tiny" status="info">
  <nb-card-header>
    Bootstrap configuration
    <button class="float-right" nbButton size="tiny"
            status="warning" (click)="submit()">
      Update
    </button>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-3"> Log level: </div><div class="col-9"><input type="text" nbInput fullWidth fieldSize="small" placeholder="Input" [(ngModel)]="content.log_level"></div>
      <div class="col-3"> HTTP port: </div><div class="col-9"><input type="text" nbInput fullWidth fieldSize="small" placeholder="Input" [(ngModel)]="content.http_port"></div>
      <div class="col-3"> MQTT URL: </div><div class="col-9"><input type="text" nbInput fullWidth fieldSize="small" placeholder="Input" [(ngModel)]="content.mqtt_url"></div>
      <div class="col-3"> EdgeD URL: </div><div class="col-9"><input type="text" nbInput fullWidth fieldSize="small" placeholder="Input" [(ngModel)]="content.edgex_url"></div>
      <div class="col-3"> Wowza URL: </div><div class="col-9"><input type="text" nbInput fullWidth fieldSize="small" placeholder="Input" [(ngModel)]="content.wowza_url"></div>
    </div>
  </nb-card-body>
</nb-card>
